<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>            
            <title>{% block title %}{% endblock %} - My Webpage</title>          
         {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
                <div class="page-header text-center">
                    <h2> Created XMI and XML files </h2> 
                </div> 
                <div class="container-fluid">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="index.php">HomePage</a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="upload.php">Upload Current Files</a></li>
                                <li><a href="create.php">Create XMI</a></li>                                
                                <li><a href="myUpload.php">Current Database</a></li>
                                <li><a href="search.php">Search</a></li>
                            </ul>
                        </div>
                    </nav>  	


                    <!-- TABLE CONTENTS -->
                
                    <section id = "table">
                        <div class="container-fluid">
                            {#<pre>
                                {{ dump(uploads) }}
                            </pre>#}
                            
                            <table class="table table-bordered table-hover" style="border-collapse:collapse;">
                                <thead>
                                    <tr> 
                                        <th>XML File</th>
                                        <th>Modelio File</th>
                                        <th>System class</th>
                                        <th>Assembly class</th>
                                        <th>Component class</th>
                                        <th>Attribute class</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    
                                    {% for uploaded in uploadsS %}
                                        <tr >
                                            <td>{{ uploaded.xml_filename }}</td>
                                            <td>{{uploaded.xmi_filename}}</td>
                                            <td>{{uploaded.name}}</td>
                                           {% for uploadedA in uploadsA %}
                                               <td>{{uploadedA.name}}</td>
                                               {% endfor %}
                                               {% for uploadedC in uploadsC %}
                                               <td>{{uploadedC.name}}</td>
                                               {% endfor %}
                                               {% for uploadedAt in uploadsAt %}
                                               <td>{{uploadedAt.name}}</td>
                                               {% endfor %}
                                        </tr>                                        
                                                                                                
                                    {% endfor %}
                                  
                                </tbody>
                               
                            </table>
                                 
                        </div>
                    </section>
                </div>
            {% endblock %}
        </div>

    </body>
</html>
